.projects-card {
	will-change: transition;
	top: 0%;
	left: 97%;
	width: 94%;
	height: 100%;
	background: #a3d8ff;
	transition: left 200ms;
	overflow-y: scroll;
}

.projects-card.hide:hover {
	left: 91%;
	transition: left 200ms;
}

.projects-vertical {
	top: 45%;
	left: -2.5%;
}

.projects-card.show {
	left: 2%;
	transition: left 500ms;
}

.projects-card.hide {
	left: 94%;
	transition: left 500ms;
}

.libsignal-card {
	position: absolute;
	width: 40%;
	left: 7.5%;
	top: 12%;
}

.age-of-mythology-card {
	position: absolute;
	width: 40%;
	left: 52.5%;
	top: 12%;
}

.a-leaf-story-card {
	position: absolute;
	width: 40%;
	left: 7.5%;
	top: 38.7%;
}

.email-security-card {
	position: absolute;
	width: 40%;
	left: 52.5%;
	top: 67%;
}

.logo-collection {
	position: absolute;
	right: 2%;
	font-size: 1.5rem;
	color: #3f51b5;
}

.logo-wrapper {
	padding-left: 10px;
	padding-right: 10px;
}

.a-leaf-story-media {
	height: 225px;
}

.age-of-mythology-media {
	height: 200px;
}
